.hero {
    --bg-image: url(/Images/interior1medium.jpeg);
    --bg-image-opacity: .5;
    padding: 6rem;
    place-content: center;
    position: relative;
    isolation: isolate;
}

/* Inset property is short for top, right, bottom, left */

.hero::after {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    opacity: var(--bg-image-opacity);
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--size-4xl);
    font-weight: 700;
}

.hero-slogan {
    text-align: center;
    font-size: var(--size-base);
    font-weight: 500;
    width: auto;
}

.hero-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero-details {
    text-align: center;
}

.hero-paragraph {
    font-size: var(--size-lg);
    font-weight: 700;
    color: var(--clr-cyan500);
}

.hero-heading {
    margin-bottom: 2rem;
    font-size: var(--size-base);
}


.testimony-container {
    --bg-image: url(/Images/client\ bg\ copy.jpeg);
    --bg-image-opacity: .4;
    position: relative;
    isolation: isolate;
    padding: 6rem;

}

.testimony-container::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: var(--bg-image-opacity);
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
}

.test-heading {
    text-align: center;
    font-size: var(--size-base);
    margin-bottom: 2rem;

}

.client-testimonials {
    display: grid;
    text-align: center;
    gap: 1em;
    padding: 1em;
    font-size: var(--size-s);
    font-weight: 400;
}


.test-name {
    font-size: var(--size-base);
    font-weight: 800;
}



.testimony-one {
    border: 2px solid;
    border-color: #2f617c;
    border-radius: 5px;
    padding: 1em;

}

.testimony-two {
    border: 2px solid;
    border-color: #2f617c;
    border-radius: 5px;
    padding: 1em;
}

.testimony-three {
    border: 2px solid;
    border-color: #2f617c;
    border-radius: 5px;
    padding: 1em;
}

/* xs screens */
@media (min-width: 425px) {

    .hero-title {
        margin-bottom: 1rem;
        text-align: center;
        font-size: var(--size-xl);
        font-weight: 700;
    }

    .test-heading {
        text-align: center;
        font-size: var(--size-xl);
        margin-bottom: 1rem;

    }

    .client-testimonials {
        display: grid;
        text-align: center;
        gap: 1em;
        padding: 1rem;
        font-weight: 400;
    }


}

/* small screens */
/* @media (min-width: 648px) {} */

/* medium screens */
@media (min-width: 768px) {

    .hero-title {

        font-size: var(--size-2xl);
    }

    .hero-slogan {
        font-size: var(--size-lg);
    }

    .hero-paragraph {
        font-size: var(--size-2xl);
    }

    .hero-heading {
        font-size: var(--size-lg);
    }



    .test-heading {
        font-size: var(--size-2xl);

    }

    .client-testimonials {
        font-size: var(--size-base);
    }

}

/* l screens */
@media (min-width: 1024px) {


    .hero-title {

        font-size: var(--size-3xl);
    }

    .hero-slogan {
        font-size: var(--size-xl);
    }

    .hero-paragraph {
        font-size: var(--size-3xl);
    }

    .hero-heading {
        font-size: var(--size-xl);
    }

    .test-heading {
        font-size: var(--size-3xl);
    }

    .test-name {
        font-size: var(--size-xl);
        font-weight: 600;
    }

    .client-testimonials {
        display: grid;
        grid-auto-flow: column;
        font-size: var(--size-xl);

    }

}

/* xl screens */
@media (min-width: 1280px) {

    .hero-title {

        font-size: var(--size-4xl);
    }

    .hero-slogan {
        font-size: var(--size-2xl);
    }

    .hero-paragraph {
        font-size: var(--size-4xl);
    }

    .hero-heading {
        font-size: var(--size-2xl);
    }



    .test-heading {
        font-size: var(--size-4xl);
    }

    .test-name {
        font-size: var(--size-2xl);
        font-weight: 800;
    }

    .client-testimonials {
        gap: 0.8rem;
        font-size: var(--size-2xl);
    }

}

/* 2xl screens
@media (min-width: 1536px) {} */