:root {
    --clr-zinc950: #09090b;
    --clr-light: aliceblue;
    --clr-light-secondary: whitesmoke;
    --clr-main: #2f617c;
    --clr-cyan500: #0ea5e9;
    --clr-cyan600: #0284c7;
    --clr-cyan700: #0e7490;
    --clr-blue500: #3b82f6;
    --clr-sky100: #e0f2fe;
    --clr-sky900: #0c4a6e;



    /* flex basis sizing  */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}




.shop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.book-img {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1rem;
    margin-bottom: 3rem;
    max-width: 100%;
    height: auto;

}

.book-details {
    color: var(--clr-sky100);
    /* grid-column-start: 3;
    grid-column-end: 5; */
    max-width: auto;
    margin-bottom: 4rem;
}

.book-header {
    font-size: var(--size-lg);
}

.book-price {
    font-size: var(--size-base);
}


.shop-button {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: var(--size-s);
}

.book-description {
    font-size: var(--size-lg);
    margin-bottom: 1rem;
}

/* xs screens */
@media (min-width: 320px) {
    .book-header {
        font-size: var(--size-base);
    }

    .shop-container {
        margin: 1rem;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        place-items: center;
    }

    .book-img {
        max-width: 50%;
        height: 55%;
        margin-top: 1rem;


    }

    .book-details {
        color: var(--clr-sky100);
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .shop-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: var(--size-xs);
    }

    .book-description {
        font-size: var(--size-s);

    }
}

/* small screens */
/* @media (min-width: 648px) {} */

/* medium screens */
@media (min-width: 768px) {
    .book-header {
        font-size: var(--size-xl);
    }

    .shop-button {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        font-size: var(--size-s);
    }

    .shop-container {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    .book-details {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .book-description {
        font-size: var(--size-base);
        margin-bottom: 1rem;
    }
}

/* l screens */
@media (min-width: 1024px) {
    .book-header {
        font-size: var(--size-2xl);
    }

    .shop-button {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        font-size: var(--size-base);
    }

    .book-description {
        font-size: var(--size-lg);
        margin-bottom: 1rem;
    }
}

/* xl screens */
@media (min-width: 1280px) {
    .book-header {
        font-size: var(--size-3xl);
    }

    .book-price {
        font-size: var(--size-lg);
    }

    .shop-button {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        font-size: var(--size-lg);
    }

    .book-description {
        font-size: var(--size-xl);
        margin-bottom: 1rem;
    }
}

/* 2xl screens
@media (min-width: 1536px) {} */